* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf') format('truetype'),
  url('../fonts/icomoon.woff') format('woff'),
  url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-bookmark-solid:before {
  content: "\e948";
}
.icon-moon:before {
  content: "\e904";
}
.icon-user:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e906";
}

.webt-header {
  max-width: 1640px;
  margin: 0 auto;
  
}

.webt-header__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 0 20px;
}

.header-actions__socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 18px;
}
.actions-socials__item,
.actions-socials__item:focus,
.actions-socials__item:hover {
  font-size: 18px;
  color: rgb(153, 153, 153);
}

.header-actions__main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 18px;
}
.actions-main__item,
.actions-main__item:focus,
.actions-main__item:hover {
  font-size: 18px;
  color: #999999;
  position: relative;
}
.actions-main__item .count {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #2e3767;
  font-size: 9px;
  color: #fff;
  border-radius: 50%;
  right: -6px;
  top: -5px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
}
.mobile-menu-trigger {
  width: 26px;
  height: 30px;
  cursor: pointer;
  
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.mobile-menu-trigger > span {
  display: block;
  height: 1px;
  width: 26px;
  background: #000000;
}


.webt-header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 46px;
  margin: 30px auto 45px auto;
}
.header-logo__image {
  max-width: 475px;
}
.header-logo__lang {
  position: relative;
  width: 43px;
  margin-top: 16px;
}
.header-lang__flag {
  width: 43px;
}
.header-logo__lang:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background: #fff;
  color: #000;
  display: inline-block;
  border-radius: 50%;
  border: solid 1px var(--c-lighter);
  bottom: 0;
  right: -7px;
}
.header-logo__lang > i {
  width: 18px;
  height: 18px;
  background: #fff;
  color: #000;
  display: inline-block;
  border-radius: 50%;
  border: solid 1px var(--c-lighter);
  font-size: 12px;
  position: absolute;
  bottom: -2px;
  right: -7px;
  line-height: 11px;
  text-align: center;
}

.webt-header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.header-nav__item {
  text-transform: uppercase;
  font-family: "Georgia";
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  padding: 8px 13px;
  height: 36px;
  
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.header-nav__item:hover,
.header-nav__item.--active-nav {
  background-color: #596499;
  color: #ffffff;
}

.webt-header__title {
  font-family: "Georgia";
  font-weight: 600;
  font-size: 46px;
  text-align: center;
  display: block;
  margin: 40px auto 10px auto;
  color: #000000;
  font-style: normal;
}

.webt-header__breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 20px;
}
.header-breadcrumbs__item {
  position: relative;
}
.header-breadcrumbs__item + .header-breadcrumbs__item:before {
  content: '/';
  position: absolute;
  left: -14px;
  
  font-size: 13px;
  font-weight: 300;
  color: rgb(191, 191, 191);
  
  top: calc(50% + 2px);
  
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.breadcrumbs-item__link {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: rgb(115, 115, 115);
}
.breadcrumbs-item__link:hover {
  color: #000000;
}

.webt-header__grid {
  display: grid;
  grid-template-columns: 66.66% 33.33%;
  align-items: stretch;
  justify-content: center;
  grid-gap: 40px;
}

.header-grid__cover {
  width: 100%;
  height: 580px;
  position: relative;
}
.grid-cover__tag {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  position: absolute;
  opacity: 0.8;
  top: 30px;
  left: 30px;
  background: #ffffff;
  color: #2e3767;
  padding: 6px 8px;
  display: inline-block;
  font-weight: 600;
}
.grid-cover__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-grid__aside {
}

.header-aside__newsletter {
  display: block;
  height: 320px;
  width: 100%;
}
.aside-newsletter__cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.header-aside__adv {
  margin: 5px 0 15px 0;
  position: relative;
}
.header-aside__adv:before {
  content: '';
  
  display: block;
  position: absolute;
  
  width: 100%;
  height: 1px;
  
  background-color: #e5e5e5;
  
  right: 0;
  top: 50%;
  
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.aside-adv__text {
  font-size: 12px;
  font-weight: 400;
  color: #bfbfbf;
  background-color: #ffffff;
  padding-right: 24px;
  position: relative;
}

.header-aside__news {
  position: relative;
  text-align: left;
  display: flex;
  justify-content: flex-end;
  height: 215px;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.header-aside__news:after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  background: -moz-linear-gradient(0deg, rgba(88, 100, 154, 1) 0%, rgba(88, 100, 154, 0) 100%);
  background: -webkit-linear-gradient(0deg, rgba(88, 100, 154, 1) 0%, rgba(88, 100, 154, 0) 100%);
  background: linear-gradient(0deg, rgba(88, 100, 154, 1) 0%, rgba(88, 100, 154, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#58649a", endColorstr="#58649a", GradientType=1);
}
.aside-news__cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.aside-news__tag {
  font-size: 12px;
  font-family: "Georgia";
  background: #bfbfbf;
  padding: 8px 10px;
  color: #fff;
  position: relative;
  z-index: 2;
  display: block;
  margin-bottom: 8px;
}
.aside-news__title {
  font-family: "Georgia";
  font-size: 24px;
  color: #fff;
  position: relative;
  z-index: 2;
  display: block;
  margin: 0;
  
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.aside-news__actions {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 8px;
}
.news-actions__item {
  color: #fff;
  font-size: 14px;
}
.--actions-share {
}

.--actions-share::before {
  content: "\e90b";
  font-family: "icomoon";
  margin: 0 5px 0 0;
  font-size: 15px;
  vertical-align: top;
}
.--actions-save {
}

.--actions-save::before {
  content: "\e90c";
  font-family: "icomoon";
  margin: 0 7px 0 0;
  font-size: 15px;
  vertical-align: top;
}


.webt-footer {
  background-color: #999999;
  padding: 50px 20px;
}
.webt-footer__wrapper {
  max-width: 1360px;
  margin: 0 auto;
}
.webt-footer__banners {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-bottom: 50px;
}
.footer-banners__item {
  width: 100%;
}
.footer-banners__cover {
  width: 100%;
}
.webt-footer__countries {

}
.footer-countries__headline {
  margin-bottom: 15px;
}
.footer-countries__headline,
.footer-countries__headline span,
.footer-countries__headline span a,
.footer-countries__headline span a:focus,
.footer-countries__headline span a:hover {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
.webt-footer__countries ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}
.webt-footer__countries ul li {
  flex: 0 1 33.33%;
  display: inline-block;
  text-align: center;
  margin-bottom: 13px;
  line-height: 1.1;
}
.webt-footer__countries ul li a,
.webt-footer__countries ul li a:focus,
.webt-footer__countries ul li a:hover {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  line-height: 1.1;
}
.webt-footer__countries ul li strong {
  font-weight: 700;
}

.webt-subfooter {
  background-color: #262626;
  padding: 40px 20px;
}
.webt-subfooter__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-bottom: 15px;
}
.subfooter-menu__link,
.subfooter-menu__link:focus,
.subfooter-menu__link:hover {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 13px;
  text-align: center;
  color: #ffffff;
}
.webt-subfooter__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
}



@media (max-width: 1640px) {
  .webt-header__title {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1200px) {
  .actions-main__item,
  .actions-main__item:focus,
  .actions-main__item:hover {
    color: #000000;
  }
  .mobile-menu-trigger {
    display: flex;
  }
  .webt-header__nav {
    display: none;
  }
  .header-grid__cover {
    height: 505px;
  }
  .header-aside__newsletter {
    height: 250px;
  }
}

@media (max-width: 960px) {
  .webt-header__grid {
    grid-template-columns: 1fr;
  }
  .header-grid__aside {
    display: none;
  }
  .header-grid__cover {
    height: auto;
    min-height: 230px;
  }
  .grid-cover__tag {
    top: 16px;
    left: 16px;
  }
}

@media (max-width: 768px) {
  .footer-countries__headline {
    opacity: 0.7;
  }
  .webt-footer__countries ul li {
    flex: 0 1 100%;
    margin-bottom: 8px;
  }
  .webt-footer__banners {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px 30px;
  }
  .webt-subfooter__menu {
    flex-wrap: wrap;
    gap: 10px 30px;
  }
  .webt-header__main {
    display: flex;
    width: 100%;
    flex-direction: column-reverse;
  }
  .header-actions__socials {
    display: none;
  }
  .webt-header__actions {
    justify-content: center;
  }
  .webt-header__logo {
    margin-bottom: 0;
    gap: 12px;
  }
  .header-logo__image {
    max-width: 200px;
  }
  .header-logo__lang {
    width: 27px;
    margin-top: 12px;
  }
  .header-logo__lang > i,
  .header-logo__lang:before {
    width: 14px;
    height: 14px;
    font-size: 9px;
  }
  .webt-header__title {
    font-size: 32px;
    line-height: 1.1;
  }
}