.formWrap {}
.formWrap h1 {
    /* text-align: center; */
    margin: 0 0 6px 0;
}
.formWrap h2 {
    margin: 0 0 30px 0;
    font-family: 'Open Sans';
    font-size: 23px;
    font-weight: 300;
    /* text-align: center; */
}

.gform_wrapper {padding: 0px;margin: 0 0 10px 0;background: var(--c-lightest);padding: 40px;}
.gform_wrapper label a {text-decoration: underline;}
.dark-mode-on .gform_wrapper label a {color:#fff}

.gform_wrapper input[type="text"], 
.gform_wrapper input[type="email"], 
.gform_wrapper input[type="url"], 
.gform_wrapper input[type="password"], 
.gform_wrapper input[type="search"], 
.gform_wrapper input[type="number"], 
.gform_wrapper input[type="tel"], 
.gform_wrapper input[type="range"], 
.gform_wrapper input[type="date"], 
.gform_wrapper input[type="month"], 
.gform_wrapper input[type="week"], 
.gform_wrapper input[type="time"], 
.gform_wrapper input[type="datetime"], 
.gform_wrapper input[type="datetime-local"], 
.gform_wrapper input[type="color"] {width: 100%;height: 40px;border: none;border-bottom: solid 3px var(--c-lighter);padding: 0;font-weight: 300;font-size: 18px;background: var(--c-lightest) !important;}


.gform_wrapper input[type="text"]:focus, 
.gform_wrapper input[type="email"]:focus, 
.gform_wrapper input[type="url"]:focus, 
.gform_wrapper input[type="password"]:focus, 
.gform_wrapper input[type="search"]:focus, 
.gform_wrapper input[type="number"]:focus, 
.gform_wrapper input[type="tel"]:focus, 
.gform_wrapper input[type="range"]:focus, 
.gform_wrapper input[type="date"]:focus, 
.gform_wrapper input[type="month"]:focus, 
.gform_wrapper input[type="week"]:focus, 
.gform_wrapper input[type="time"]:focus, 
.gform_wrapper input[type="datetime"]:focus, 
.gform_wrapper input[type="datetime-local"]:focus, 
.gform_wrapper input[type="color"] {
    border-bottom: solid 3px var(--c-main);
}
.dark-mode-on .gform_wrapper input[type="text"]:focus, 
.dark-mode-on .gform_wrapper input[type="email"]:focus, 
.dark-mode-on .gform_wrapper input[type="url"]:focus, 
.dark-mode-on .gform_wrapper input[type="password"]:focus, 
.dark-mode-on .gform_wrapper input[type="search"]:focus, 
.dark-mode-on .gform_wrapper input[type="number"]:focus, 
.dark-mode-on .gform_wrapper input[type="tel"]:focus, 
.dark-mode-on .gform_wrapper input[type="range"]:focus, 
.dark-mode-on .gform_wrapper input[type="date"]:focus, 
.dark-mode-on .gform_wrapper input[type="month"]:focus, 
.dark-mode-on .gform_wrapper input[type="week"]:focus, 
.dark-mode-on .gform_wrapper input[type="time"]:focus, 
.dark-mode-on .gform_wrapper input[type="datetime"]:focus, 
.dark-mode-on .gform_wrapper input[type="datetime-local"]:focus, 
.dark-mode-on .gform_wrapper input[type="color"] {
    border-bottom: solid 3px #fff;
}

.gform_wrapper input[type="checkbox"] {position: absolute; left: -99999px; }
.gform_wrapper input[type="checkbox"] + label {position: relative; padding: 0 0 0 29px; }
.gform_wrapper input[type="checkbox"] + label::before {content: "";width: 20px;height: 20px;display: block;background: #fff;border: solid 1px #ddd;position: absolute;left: 0;top: 1px;}
.gform_wrapper input[type="checkbox"] + label::after {content: "";}
.gform_wrapper input[type="checkbox"]:checked + label::before {background: var(--c-main); border: solid 1px var(--c-main); }
.gform_wrapper input[type="checkbox"]:checked + label::after {content: "\f00c"; color: #fff; position: absolute; left: 0; top: 1px; font-weight: 900; font-family: "Font Awesome 5 Free"; font-size: 10px; width: 20px; height: 20px; text-align: center; line-height: 20px; }


.gform_wrapper input[type="radio"] {}
.gform_wrapper input[type="radio"] + label {}
.gform_wrapper input[type="radio"] + label::before {content: "";}
.gform_wrapper input[type="radio"] + label::after {content: "";}
.gform_wrapper input[type="radio"]:checked + label::before {}
.gform_wrapper input[type="radio"]:checked + label::after {}



.validation_error {background: #d50000; color: #fff; text-align: center; padding: 20px; margin: 0 0 30px 0; font-weight: 600; font-family: Georgia; }
.validation_error h2 {margin:0;font-size: 16px;}
.gfield_description.validation_message {color: #d50000;font-weight: 600;font-size: 11px;margin: 8px 0 0 0;}


.gform_wrapper select {width: 100%;height: 40px;border: none;border-bottom: solid 3px var(--c-lighter);padding: 0;font-weight: 300;font-size: 18px;background-color: var(--c-lightest) !important;}
.gform_wrapper select:focus {border-bottom: solid 3px var(--c-main);}
.dark-mode-on .gform_wrapper select:focus {border-bottom: solid 3px #fff;}
.gform_wrapper textarea {width: 100%; height: 100px; border: none; border-bottom: solid 3px var(--c-lighter); padding: 0; font-weight: 300; font-size: 18px; background: var(--c-lightest) !important; }
.gform_wrapper textarea:focus {border-bottom:solid 3px var(--c-main); }


.gform_wrapper .gform_body {}
.gform_wrapper .gform_body .gform_fields {list-style: none; padding: 0; margin: 0; display: flex; flex-wrap: wrap; }
.gform_wrapper .gform_body .gform_fields .gfield {flex: 0 1 100%;max-width: 100%;margin: 0 0 20px 0;}
.gform_wrapper .gform_body .gform_fields .gfield .ginput_recaptcha > div:first-child, .gform_wrapper .gform_body .gform_fields .gfield .ginput_recaptcha > div:first-child iframe {}
.gform_wrapper .gform_body .gform_fields .gfield.gform_hidden {margin:0}
.gform_wrapper .gform_body .gform_fields .gfield.gf_left_half {flex: 0 1 50%;padding: 0 20px 0 0;}
.gform_wrapper .gform_body .gform_fields .gfield.gf_right_half {flex: 0 1 50%; }
.gform_wrapper .gform_body .gform_fields .gfield .gfield_label {font-weight: 600;font-size: 12px;margin: 0;line-height: 1;margin: 0 0 8px 0;}
.gform_wrapper .gform_body .gform_fields .gfield .gfield_label .gfield_required {font-size: 11px; vertical-align: top; color: #d50000; }
.gform_wrapper .gform_body .gform_fields .gfield.gf_noTitle .gfield_label, .gform_wrapper .gform_body .gform_fields .gfield.gf_no_title .gfield_label, .gform_wrapper .gform_body .gform_fields .gfield.hidden_label .gfield_label   {display: none;}
.gform_wrapper .gform_body .gform_fields .gfield .ginput_container {}
.gform_wrapper .gform_body .gform_fields .gfield .ginput_container.ginput_complex {display: flex;flex-wrap: wrap;}
.gform_wrapper .gform_body .gform_fields .gfield .ginput_container.ginput_complex > span {flex: 0 1 100%;padding: 0 20px 0 0;}
.gform_wrapper .gform_body .gform_fields .gfield .ginput_container.ginput_complex span#input_35_4_5_container {flex:0 1 100%;padding: 0;}
.gform_wrapper .gform_body .gform_fields .gfield .ginput_container.ginput_complex span.ginput_left {flex: 0 1 50%;}
.gform_wrapper .gform_body .gform_fields .gfield .ginput_container.ginput_complex span.ginput_full {padding:0;}
.gform_wrapper .gform_body .gform_fields .gfield .ginput_container.ginput_complex span.ginput_right {flex: 0 1 50%;padding: 0;}
.gform_wrapper .gform_body .gform_fields .gfield .ginput_container.ginput_complex span.name_prefix {flex: 0 1 10%; }
.gform_wrapper .gform_body .gform_fields .gfield .ginput_container.ginput_complex span.name_first  {flex: 0 1 40%; }
.gform_wrapper .gform_body .gform_fields .gfield .ginput_container.ginput_complex span.name_last  {flex: 0 1 50%;padding: 0;}

.gform_wrapper .gform_body .gform_fields .gfield .ginput_container.ginput_complex span label {display: block;font-size: 11px;opacity: 0.5;margin: 7px 0 0 0;}
.gform_wrapper .gform_body .gform_fields .gfield .ginput_container .gfield_checkbox {list-style: none; padding: 0; margin: 0; }
.gform_wrapper .gform_body .gform_fields .gfield .ginput_container .gfield_checkbox li {margin: 0; }

.gform_wrapper .gform_body .gform_fields .gfield .ginput_container input[readonly="readonly"] {color: var(--c-normal); pointer-events: none; border-bottom: solid 3px var(--c-lighter) !important; }
.gform_wrapper .gform_body .gform_fields .gfield .gfield_description {display: block; font-size: 11px; opacity: 0.5; margin: 7px 0 0 0; }

.gform_wrapper .gform_footer {}
.gform_wrapper .gform_footer input {background: var(--c-main);color: #fff;border: none !important;padding: 13px 20px !important;font-weight: 300 !important;font-size: 19px !important;}


.gform_validation_container, .gform_wrapper .gform_validation_container, body .gform_wrapper .gform_body ul.gform_fields li.gfield.gform_validation_container, body .gform_wrapper li.gform_validation_container, body .gform_wrapper ul.gform_fields li.gfield.gform_validation_container {display: none!important; position: absolute!important; left: -9000px; }
.gform_confirmation_wrapper {}
.gform_confirmation_wrapper .gform_confirmation_message {font-weight: 700; }
@media (max-width: 767px) { 
    .gform_wrapper {padding: 25px;}

    #gform_wrapper_63, #gform_wrapper_52 {margin:0 -20px;}
    .gform_wrapper .gform_body .gform_fields .gfield .ginput_container.ginput_complex span {flex: 0 1 100% !important;padding: 0 !important;margin: 0 0 10px 0;}
    .gform_wrapper .gform_body .gform_fields .gfield .ginput_container.ginput_complex span.name_prefix {}
    .gform_wrapper .gform_body .gform_fields .gfield.gf_left_half {flex: 0 1 100%; padding: 0; }
    .gform_wrapper .gform_body .gform_fields .gfield.gf_right_half {flex: 0 1 100%; }
}



#footer-subscribe {background: var(--c-lightest);padding: 0 20px;}
#footer-subscribe .content {max-width: 800px;margin: 0 auto;padding: 0;text-align: center;}
#footer-subscribe .content h3 {padding: 40px 20px 0 20px;bottom: -33px;background: var(--c-lightest);color: var(--c-black);z-index: 1;position: relative;text-align: center;font-size: 28px;display: inline-block;font-weight: bold;}
#footer-subscribe .content #gform_wrapper_60 {background: var(--c-lightest);color: #000;border: solid 3px var(--c-lighter);padding: 40px 30px 30px 30px;text-align: left;}
#footer-subscribe .content #gform_wrapper_60 input[type="text"] {background: var(--c-white) !important;}
#footer-subscribe .content #gform_wrapper_60 label a {color:var(--c-black);}
#footer-subscribe .content #gform_wrapper_60 .gform_footer {right: 30px;top: 40px;}
#footer-subscribe .content #gform_wrapper_60 input[type="checkbox"]:checked + label::after {background: var(--c-main);color:#fff;}
#footer-subscribe .content #gform_wrapper_60 .gfield_description.validation_message {
    background: none;
    color: #d50000;
    padding: 0;
    margin: 11px 0 0 0;
}
#footer-subscribe #gform_wrapper_60 .gform_body .gform_fields .gfield .ginput_container .gfield_checkbox li:last-child label {color:var(--c-black)}


#gform_wrapper_60 {background: var(--c-main);padding: 40px;color: #fff;position: relative;margin: 0;padding: 40px;}
#gform_wrapper_60 .validation_error {display:none}
#gform_wrapper_60 input[type="text"] {border: none !important;padding: 0 15px;height: 50px;border-radius: 0;}
#gform_wrapper_60 .gfield_description.validation_message {background: #d50000; color: #fff; padding: 5px 8px; display: inline-block; line-height: 1;opacity:1 }
#gform_wrapper_60 .gform_validation_errors {display:none;}
#gform_wrapper_60 .gform_body .gform_fields #field_60_2 {margin:0}
#gform_wrapper_60 .gform_body .gform_fields .gfield .gfield_label {display:none}
#gform_wrapper_60 label a {color:#fff}
#gform_wrapper_60 input[type="checkbox"]:checked + label::after {background: #fff; color: #000; }
#gform_wrapper_60 input[type="checkbox"]:checked + label::before {}
#gform_wrapper_60 .gform_footer {position: absolute;top: 40px;right: 40px;}
#gform_wrapper_60 .gform_footer input {background: var(--c-secondary);line-height: 1;height: 50px;padding: 0 25px !important;font-family: "Georgia";}
#gform_wrapper_60 .gform_body .gform_fields .gfield .ginput_container .gfield_checkbox li:last-child {}
#gform_wrapper_60 .gform_body .gform_fields .gfield .ginput_container .gfield_checkbox li:last-child label {margin:0;/* color: var(--c-black); */}




#gform_wrapper_61 {background: var(--c-lightest);padding: 40px;color: var(--c-black);margin: 40px 0 0 0;} 
#gform_wrapper_61 .gform_body ul li .ginput_complex span.name_prefix {width: 20% !important;}
#gform_wrapper_61 .gform_body ul li .ginput_complex span.name_first {width: 40% !important;}
#gform_wrapper_61 .gform_body ul li .ginput_complex span.name_last {padding: 0;}
#gform_wrapper_61 .gform_body ul li#field_61_1 input {background: solid 3px var(--c-lighter);/* border: none; */pointer-events: none;opacity: 0.4;}
#gform_wrapper_61 .gform_body ul li#field_61_7 {}
#gform_wrapper_61 .gform_body ul li#field_61_7 .gfield_label {font-family: "Georgia";margin: 20px 0 14px 0 !important;font-size: 22px;}
#gform_wrapper_61 .gform_body ul li#field_61_7 .ginput_container {}
#gform_wrapper_61 .gform_body ul li#field_61_7 .ginput_container .gfield_checkbox {}
#gform_wrapper_61 .gform_body ul li#field_61_7 .ginput_container .gfield_checkbox li {display: inline-block;width: 50% !important;padding: 0 20px 0 10px !important;margin: 0 0 10px 0 !important;font-size: 16px !important;}
#gform_wrapper_61 .gform_body ul li#field_61_7 .ginput_container .gfield_checkbox li:nth-child()
#gform_wrapper_61 .gform_body ul li#field_61_7 .ginput_container .gfield_checkbox li label {font-size:inherit}
#gform_wrapper_61 .gform_body ul li#field_61_7 .ginput_container .gfield_checkbox .gchoice_select_all {width: 100% !important;}
#gform_wrapper_61 .gform_body ul li#field_61_7 .ginput_container .gfield_checkbox .gchoice_61_7_1{width: 50% !important;border-right: none !important;padding: 10px !important;clear: left;background: var(--c-lighter) !important;}
#gform_wrapper_61 .gform_body ul li#field_61_7 .ginput_container .gfield_checkbox .gchoice_61_7_2{width: 50% !important;padding: 10px !important;border-left: none !important;background: var(--c-lighter) !important;}
#gform_wrapper_61 .gform_body ul li#field_61_7 .ginput_container .gfield_checkbox .gchoice_61_7_1 label {margin-bottom:0;}
#gform_wrapper_61 .gform_body ul li#field_61_7 .ginput_container .gfield_checkbox .gchoice_61_7_2 label {margin-bottom:0;}


#gform_wrapper_61 .gform_body ul li#field_61_10 {}
#gform_wrapper_61 .gform_body ul li#field_61_10 .gfield_label {font-family: "Georgia";margin: 20px 0 14px 0 !important;font-size: 22px;}
#gform_wrapper_61 .gform_body ul li#field_61_10 .ginput_container {}
#gform_wrapper_61 .gform_body ul li#field_61_10 .ginput_container .gfield_checkbox {}
#gform_wrapper_61 .gform_body ul li#field_61_10 .ginput_container .gfield_checkbox li {display: inline-block;width: 50% !important;padding: 0 20px 0 10px !important;margin: 0 0 10px 0 !important;font-size: 16px !important;}
#gform_wrapper_61 .gform_body ul li#field_61_10 .ginput_container .gfield_checkbox li:nth-child()
#gform_wrapper_61 .gform_body ul li#field_61_10 .ginput_container .gfield_checkbox li label {font-size:inherit}
#gform_wrapper_61 .gform_body ul li#field_61_10 .ginput_container .gfield_checkbox .gchoice_select_all {width: 100% !important;}
#gform_wrapper_61 .gform_body ul li#field_61_10 .ginput_container .gfield_checkbox .gchoice_61_7_1 {width: 50% !important;border-right: none !important;padding: 10px !important;clear: left;background: var(--c-lighter) !important;}
#gform_wrapper_61 .gform_body ul li#field_61_10 .ginput_container .gfield_checkbox .gchoice_61_7_2 {width: 50% !important;padding: 10px !important;border-left: none !important;background: var(--c-lighter) !important;}
#gform_wrapper_61 .gform_body ul li#field_61_10 .ginput_container .gfield_checkbox .gchoice_61_7_1 label {margin-bottom:0;}
#gform_wrapper_61 .gform_body ul li#field_61_10 .ginput_container .gfield_checkbox .gchoice_61_7_2 label {margin-bottom:0;}

#gform_wrapper_61 .gform_body ul li#field_61_9 {font-weight: 300;color: var(--c-normal);margin: 0 0 20px 0 !important;font-size: 13px;}


#gform_wrapper_61 input[type="text"], 
#gform_wrapper_61 input[type="email"], 
#gform_wrapper_61 input[type="url"], 
#gform_wrapper_61 input[type="password"], 
#gform_wrapper_61 input[type="search"], 
#gform_wrapper_61 input[type="number"], 
#gform_wrapper_61 input[type="tel"], 
#gform_wrapper_61 input[type="range"], 
#gform_wrapper_61 input[type="date"], 
#gform_wrapper_61 input[type="month"], 
#gform_wrapper_61 input[type="week"], 
#gform_wrapper_61 input[type="time"], 
#gform_wrapper_61 input[type="datetime"], 
#gform_wrapper_61 input[type="datetime-local"], 
#gform_wrapper_61 input[type="color"] {
    background: var(--c-lightest);
    border-bottom: solid 3px var(--c-lighter);
}
#gform_wrapper_61 input[type="text"]:focus, 
#gform_wrapper_61 input[type="email"]:focus, 
#gform_wrapper_61 input[type="url"]:focus, 
#gform_wrapper_61 input[type="password"]:focus, 
#gform_wrapper_61 input[type="search"]:focus, 
#gform_wrapper_61 input[type="number"]:focus, 
#gform_wrapper_61 input[type="tel"]:focus, 
#gform_wrapper_61 input[type="range"]:focus, 
#gform_wrapper_61 input[type="date"]:focus, 
#gform_wrapper_61 input[type="month"]:focus, 
#gform_wrapper_61 input[type="week"]:focus, 
#gform_wrapper_61 input[type="time"]:focus, 
#gform_wrapper_61 input[type="datetime"]:focus, 
#gform_wrapper_61 input[type="datetime-local"]:focus, 
#gform_wrapper_61 input[type="color"]:focus {
    border-bottom: solid 3px var(--c-main);
}
#gform_wrapper_61 .chosen-container-single {background-color: transparent; }
#gform_wrapper_61 .chosen-container-single .chosen-single {border-bottom: solid 3px var(--c-lighter); }
#gform_wrapper_61 .chosen-container-single .chosen-single span {/* padding:0 10px; */}
#gform_wrapper_61 select {background-color: transparent !important; border-bottom: solid 3px var(--c-lighter) !important; }
#gform_wrapper_61 select:focus {border-bottom: solid 3px var(--c-main) !important;}


@media (max-width: 991px) {
    #gform_wrapper_61 {margin-bottom: 30px; }
}
@media (max-width: 767px) {
    #gform_wrapper_60 {padding: 20px;}
    #gform_wrapper_60 .gform_footer {top: 20px;right: 20px;}
    #gform_wrapper_61 {padding: 20px;width: auto;min-width: 100%;max-width: none !important;margin-bottom: 30px;margin-left: -20px;margin-right: -20px;}
    #gform_wrapper_61 .gform_body ul li .ginput_complex span.name_prefix {width: 100% !important; }
    #gform_wrapper_61 .gform_body ul li .ginput_complex span.name_first {width: 100% !important; }
    #gform_wrapper_61 .gform_body ul li .ginput_complex span.name_last {width:100% !important;}
    #gform_wrapper_61 .gform_body ul li#field_61_7 {}
    #gform_wrapper_61 .gform_body ul li#field_61_7 .gfield_label {}
    #gform_wrapper_61 .gform_body ul li#field_61_7 .ginput_container {}
    #gform_wrapper_61 .gform_body ul li#field_61_7 .ginput_container .gfield_checkbox {}
    #gform_wrapper_61 .gform_body ul li#field_61_7 .ginput_container .gfield_checkbox li {width: 100% !important; }
    #gform_wrapper_61 .gform_body ul li#field_61_7 .ginput_container .gfield_checkbox li:nth-child()
    #gform_wrapper_61 .gform_body ul li#field_61_7 .ginput_container .gfield_checkbox li label {}
    #gform_wrapper_61 .gform_body ul li#field_61_7 .ginput_container .gfield_checkbox .gchoice_select_all {}
    #gform_wrapper_61 .gform_body ul li#field_61_7 .ginput_container .gfield_checkbox .gchoice_61_7_1{width: 100% !important; margin: 0 !important; }
    #gform_wrapper_61 .gform_body ul li#field_61_7 .ginput_container .gfield_checkbox .gchoice_61_7_2{width: 100% !important; }

    #gform_wrapper_61 .gform_body ul li#field_61_10 {}
    #gform_wrapper_61 .gform_body ul li#field_61_10 .gfield_label {}
    #gform_wrapper_61 .gform_body ul li#field_61_10 .ginput_container {}
    #gform_wrapper_61 .gform_body ul li#field_61_10 .ginput_container .gfield_checkbox {}
    #gform_wrapper_61 .gform_body ul li#field_61_10 .ginput_container .gfield_checkbox li {width: 100% !important; }
    #gform_wrapper_61 .gform_body ul li#field_61_10 .ginput_container .gfield_checkbox li:nth-child()
    #gform_wrapper_61 .gform_body ul li#field_61_10 .ginput_container .gfield_checkbox li label {}
    #gform_wrapper_61 .gform_body ul li#field_61_10 .ginput_container .gfield_checkbox .gchoice_select_all {}
    #gform_wrapper_61 .gform_body ul li#field_61_10 .ginput_container .gfield_checkbox .gchoice_61_7_1{width: 100% !important; margin: 0 !important; }
    #gform_wrapper_61 .gform_body ul li#field_61_10 .ginput_container .gfield_checkbox .gchoice_61_7_2{width: 100% !important; }

    #footer-subscribe .content h3 {font-size: 20px;padding: 0 20px;}
    #footer-subscribe .content #gform_wrapper_60 {border-left:none;border-right:none;padding: 30px 20px;}
    #footer-subscribe .content #gform_wrapper_60 .gform_footer {right: 20px;top: 30px;}
}   