@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zoom-in:before {
  content: "\e945";
}
.icon-profile:before {
  content: "\e931";
}
.icon-favorite-solid:before {
  content: "\e932";
}
.icon-favorite:before {
  content: "\e933";
}
.icon-shopping-bag:before {
  content: "\e930";
}
.icon-order:before {
  content: "\e91d";
}
.icon-filter:before {
  content: "\e91e";
}
.icon-paper-airplane:before {
  content: "\e91f";
}
.icon-placeholder1:before {
  content: "\e920";
}
.icon-phone-call:before {
  content: "\e921";
}
.icon-calendar:before {
  content: "\e922";
}
.icon-envelope:before {
  content: "\e923";
}
.icon-shopping-basket-2:before {
  content: "\e924";
}
.icon-basket:before {
  content: "\e925";
}
.icon-shopping-basket:before {
  content: "\e926";
}
.icon-worldwide:before {
  content: "\e927";
}
.icon-mail:before {
  content: "\e928";
}
.icon-smartphone:before {
  content: "\e929";
}
.icon-magnifying-glass:before {
  content: "\e92a";
}
.icon-shopping-cart:before {
  content: "\e92b";
}
.icon-uniF100:before {
  content: "\f100";
}
.icon-uniF101:before {
  content: "\f101";
}
.icon-uniF102:before {
  content: "\f102";
}
.icon-uniF103:before {
  content: "\f103";
}
.icon-uniF104:before {
  content: "\f104";
}
.icon-uniF105:before {
  content: "\f105";
}
.icon-uniF106:before {
  content: "\f106";
}
.icon-uniF107:before {
  content: "\f107";
}
.icon-uniF108:before {
  content: "\f108";
}
.icon-uniF109:before {
  content: "\f109";
}
.icon-uniF10A:before {
  content: "\f10a";
}
.icon-uniF10B:before {
  content: "\f10b";
}
.icon-uniF10C:before {
  content: "\f10c";
}
.icon-uniF10D:before {
  content: "\f10d";
}
.icon-uniF10E:before {
  content: "\f10e";
}
.icon-uniF10F:before {
  content: "\f10f";
}
.icon-uniF110:before {
  content: "\f110";
}
.icon-uniF111:before {
  content: "\f111";
}
.icon-uniF112:before {
  content: "\f112";
}
.icon-uniF113:before {
  content: "\f113";
}
.icon-uniF114:before {
  content: "\f114";
}
.icon-uniF115:before {
  content: "\f115";
}
.icon-uniF116:before {
  content: "\f116";
}
.icon-uniF117:before {
  content: "\f117";
}
.icon-uniF118:before {
  content: "\f118";
}
.icon-uniF119:before {
  content: "\f119";
}
.icon-uniF11A:before {
  content: "\f11a";
}
.icon-uniF11B:before {
  content: "\f11b";
}
.icon-uniF11C:before {
  content: "\f11c";
}
.icon-uniF11D:before {
  content: "\f11d";
}
.icon-uniF11E:before {
  content: "\f11e";
}
.icon-uniF11F:before {
  content: "\f11f";
}
.icon-uniF120:before {
  content: "\f120";
}
.icon-uniF121:before {
  content: "\f121";
}
.icon-uniF122:before {
  content: "\f122";
}
.icon-uniF123:before {
  content: "\f123";
}
.icon-uniF124:before {
  content: "\f124";
}
.icon-uniF125:before {
  content: "\f125";
}
.icon-uniF126:before {
  content: "\f126";
}
.icon-uniF127:before {
  content: "\f127";
}
.icon-uniF128:before {
  content: "\f128";
}
.icon-uniF129:before {
  content: "\f129";
}
.icon-uniF12A:before {
  content: "\f12a";
}
.icon-uniF12B:before {
  content: "\f12b";
}
.icon-uniF12C:before {
  content: "\f12c";
}
.icon-uniF12D:before {
  content: "\f12d";
}
.icon-uniF12E:before {
  content: "\f12e";
}
.icon-uniF12F:before {
  content: "\f12f";
}
.icon-uniF130:before {
  content: "\f130";
}
.icon-uniF131:before {
  content: "\f131";
}
.icon-uniF132:before {
  content: "\f132";
}
.icon-uniF133:before {
  content: "\f133";
}
.icon-uniF134:before {
  content: "\f134";
}
.icon-uniF135:before {
  content: "\f135";
}
.icon-uniF136:before {
  content: "\f136";
}
.icon-uniF137:before {
  content: "\f137";
}
.icon-uniF138:before {
  content: "\f138";
}
.icon-uniF139:before {
  content: "\f139";
}
.icon-uniF13A:before {
  content: "\f13a";
}
.icon-uniF13B:before {
  content: "\f13b";
}
.icon-uniF13C:before {
  content: "\f13c";
}
.icon-uniF13D:before {
  content: "\f13d";
}
.icon-uniF13E:before {
  content: "\f13e";
}
.icon-uniF13F:before {
  content: "\f13f";
}
.icon-uniF140:before {
  content: "\f140";
}
.icon-uniF141:before {
  content: "\f141";
}
.icon-uniF142:before {
  content: "\f142";
}
.icon-uniF143:before {
  content: "\f143";
}
.icon-uniF144:before {
  content: "\f144";
}
.icon-uniF145:before {
  content: "\f145";
}
.icon-uniF146:before {
  content: "\f146";
}
.icon-uniF147:before {
  content: "\f147";
}
.icon-uniF148:before {
  content: "\f148";
}
.icon-uniF149:before {
  content: "\f149";
}
.icon-uniF14A:before {
  content: "\f14a";
}
.icon-uniF14B:before {
  content: "\f14b";
}
.icon-uniF14C:before {
  content: "\f14c";
}
.icon-uniF14D:before {
  content: "\f14d";
}
.icon-uniF14E:before {
  content: "\f14e";
}
.icon-uniF14F:before {
  content: "\f14f";
}
.icon-uniF150:before {
  content: "\f150";
}
.icon-uniF151:before {
  content: "\f151";
}
.icon-uniF152:before {
  content: "\f152";
}
.icon-uniF153:before {
  content: "\f153";
}
.icon-uniF154:before {
  content: "\f154";
}
.icon-uniF155:before {
  content: "\f155";
}
.icon-uniF156:before {
  content: "\f156";
}
.icon-uniF157:before {
  content: "\f157";
}
.icon-uniF158:before {
  content: "\f158";
}
.icon-uniF159:before {
  content: "\f159";
}
.icon-uniF15A:before {
  content: "\f15a";
}
.icon-uniF15B:before {
  content: "\f15b";
}
.icon-uniF15C:before {
  content: "\f15c";
}
.icon-uniF15D:before {
  content: "\f15d";
}
.icon-uniF15E:before {
  content: "\f15e";
}
.icon-uniF15F:before {
  content: "\f15f";
}
.icon-uniF160:before {
  content: "\f160";
}
.icon-uniF161:before {
  content: "\f161";
}
.icon-uniF162:before {
  content: "\f162";
}
.icon-uniF163:before {
  content: "\f163";
}
.icon-uniF164:before {
  content: "\f164";
}
.icon-uniF165:before {
  content: "\f165";
}
.icon-uniF166:before {
  content: "\f166";
}
.icon-uniF167:before {
  content: "\f167";
}
.icon-uniF168:before {
  content: "\f168";
}
.icon-uniF169:before {
  content: "\f169";
}
.icon-uniF16A:before {
  content: "\f16a";
}
.icon-uniF16B:before {
  content: "\f16b";
}
.icon-uniF16C:before {
  content: "\f16c";
}
.icon-uniF16D:before {
  content: "\f16d";
}
.icon-uniF16E:before {
  content: "\f16e";
}
.icon-uniF16F:before {
  content: "\f16f";
}
.icon-uniF170:before {
  content: "\f170";
}
.icon-uniF171:before {
  content: "\f171";
}
.icon-uniF172:before {
  content: "\f172";
}
.icon-uniF173:before {
  content: "\f173";
}
.icon-uniF174:before {
  content: "\f174";
}
.icon-uniF175:before {
  content: "\f175";
}
.icon-uniF176:before {
  content: "\f176";
}
.icon-uniF177:before {
  content: "\f177";
}
.icon-uniF178:before {
  content: "\f178";
}
.icon-uniF179:before {
  content: "\f179";
}
.icon-uniF17A:before {
  content: "\f17a";
}
.icon-uniF17B:before {
  content: "\f17b";
}
.icon-uniF17C:before {
  content: "\f17c";
}
.icon-uniF17D:before {
  content: "\f17d";
}
.icon-uniF17E:before {
  content: "\f17e";
}
.icon-uniF17F:before {
  content: "\f17f";
}
.icon-uniF180:before {
  content: "\f180";
}
.icon-uniF181:before {
  content: "\f181";
}
.icon-uniF182:before {
  content: "\f182";
}
.icon-uniF183:before {
  content: "\f183";
}
.icon-uniF184:before {
  content: "\f184";
}
.icon-uniF185:before {
  content: "\f185";
}
.icon-uniF186:before {
  content: "\f186";
}
.icon-uniF187:before {
  content: "\f187";
}
.icon-uniF188:before {
  content: "\f188";
}
.icon-uniF189:before {
  content: "\f189";
}
.icon-uniF18A:before {
  content: "\f18a";
}
.icon-uniF18B:before {
  content: "\f18b";
}
.icon-expand:before {
  content: "\e949";
}
.icon-bookmark-solid:before {
  content: "\e948";
}
.icon-quote2:before {
  content: "\e946";
}
.icon-quote:before {
  content: "\e947";
}
.icon-ban:before {
  content: "\e944";
}
.icon-forbidden:before {
  content: "\e943";
}
.icon-paper-1:before {
  content: "\e93e";
}
.icon-calendar1:before {
  content: "\e93f";
}
.icon-medal:before {
  content: "\e940";
}
.icon-house:before {
  content: "\e941";
}
.icon-clean:before {
  content: "\e942";
}
.icon-male-telemarketer:before {
  content: "\e93b";
}
.icon-truck:before {
  content: "\e93c";
}
.icon-bar-code:before {
  content: "\e93d";
}
.icon-list1:before {
  content: "\e938";
}
.icon-menu:before {
  content: "\e939";
}
.icon-list-text:before {
  content: "\e93a";
}
.icon-man-user:before {
  content: "\e937";
}
.icon-shopping-cart1:before {
  content: "\e936";
}
.icon-cookie:before {
  content: "\e935";
}
.icon-settings:before {
  content: "\e934";
}
.icon-return:before {
  content: "\e92c";
}
.icon-certificate:before {
  content: "\e92d";
}
.icon-gift-box:before {
  content: "\e92e";
}
.icon-gift:before {
  content: "\e92f";
}
.icon-placeholder:before {
  content: "\e91a";
}
.icon-paper-plane:before {
  content: "\e91b";
}
.icon-call:before {
  content: "\e91c";
}
.icon-box-open:before {
  content: "\e917";
}
.icon-edit:before {
  content: "\e918";
}
.icon-layers:before {
  content: "\e919";
}
.icon-list:before {
  content: "\e916";
}
.icon-bin:before {
  content: "\e915";
}
.icon-tick:before {
  content: "\e900";
}
.icon-feedback:before {
  content: "\e901";
}
.icon-heart:before {
  content: "\e902";
}
.icon-heart-solid:before {
  content: "\e903";
}
.icon-moon:before {
  content: "\e904";
}
.icon-notes:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-sun:before {
  content: "\e907";
}
.icon-user:before {
  content: "\e908";
}
.icon-user-solid:before {
  content: "\e909";
}
.icon-supermarket:before {
  content: "\e90a";
}
.icon-upload:before {
  content: "\e90b";
}
.icon-bookmark:before {
  content: "\e90c";
}
.icon-close:before {
  content: "\e90d";
}
.icon-video-camera:before {
  content: "\e90e";
}
.icon-minus:before {
  content: "\e90f";
}
.icon-plus:before {
  content: "\e910";
}
.icon-next:before {
  content: "\e911";
}
.icon-back:before {
  content: "\e912";
}
.icon-arrow-left:before {
  content: "\e913";
}
.icon-arrow-right:before {
  content: "\e914";
} 